<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
			<div class="container-fluid">
			  	<a class="navbar-brand" href="#">CF_Help_Bot</a>
			  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			  	</button>
				  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a type="button" class="btn btn-primary" href="/login">Login</a>
				<a type="button" href="/register" class="btn btn-outline-primary">Register</a>	
				</div>
			</div>
		  </nav>
		<div class="container justify-content-md-center" style="max-width: 30%;position: absolute; top: 40%; left: 35%;">
					<h3>Login</h3>
					<form>
						<div class="mb-3">
							<label for="handle" class="form-label" style="font-size: large;">Handle</label>
							<input type="text" class="form-control" id="handle" placeholder="tourist">
						</div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-center">
						<a type="submit" class="btn btn-primary" href="/">Submit</a>
					</form>
				</div>
			</div>
	</body>
</html>