<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="home.css" >
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
			<div class="container-fluid">
			  	<a class="navbar-brand" href="#">CF_Help_Bot</a>
			  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			  	</button>
				  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a type="button" class="btn btn-primary" href="/login">Login</a>
				<a type="button" href="/register" class="btn btn-outline-primary">Register</a>	
				</div>
			</div>
		  </nav>
		  <div class="chat">
			<img src="" alt="Avatar">
			<p>Hello. How are you today?</p>
			<span class="time-right">11:00</span>
		  </div>
		  
		  <div class="chat darker">
			<img src="" alt="Avatar" class="right">
			<p>Hey! I'm fine. Thanks for asking!</p>
			<span class="time-left">11:01</span>
		  </div>
		  
		  <div class="chat">
			<img src="" alt="Avatar">
			<p>Sweet! So, what do you wanna do today?</p>
			<span class="time-right">11:02</span>
		  </div>
		  
		  <div class="chat darker">
			<img src="" alt="Avatar" class="right">
			<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
			<span class="time-left">11:05</span>
		  </div>
	</body>
</html>