<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Login Page</h1>
            <form>
                <div class="mb-3">
                    <label for="handle" class="form-label">Handle</label>
                    <input type="text" class="form-control" id="handle">
                </div>
                <a type="submit" class="btn btn-primary" href="/">Submit</a>
            </form>
        </div>
    </body>
</html>