<!DOCTYPE html>
<html>
    <head>
        <title>Register Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Register Page</h1>
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="lang" class="form-label">Language</label>
                    <input type="text" class="form-control" id="lang">
                </div>
                <a type="submit" class="btn btn-primary" href="/">Submit</a>
            </form>
        </div>
    </body>
</html>